/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Poppins', sans;-serif
font-family: 'Ubuntu', sans-serif; */
.links ul li a{
    font-family: 'Poppins', sans-serif; 
     font-family: 'Ubuntu', sans-serif;
}
.carousel-item img{
   height:500px;
   object-fit: fill;
   object-position: center;  
}
.aboutme,#ourServices,.our-team{
    font-family: 'Dancing Script', cursive;
    

} 
.aboutme button,p,.card-body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.img-man img{
    width: 100%;
    height: 100%;
}
.card img{
    width: 50%;
    height: 160px;
    border-radius: 50%;
    
}
.logo{
    width: 60px;
    height: 60px;
}